<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/general.html :: head"> </head>
<body>
    <div class="container">
          <h1 class="mb-4">DataSources</h1>
            <a class="mb-4 btn btn-outline-success" role="button" th:href="@{/dataSource/create}">+ Create DataSource</a>           
            
            <input class="mb-2 form-control" id="dataSourceFilterInput" type="text"
                placeholder="Filter..."> <br>
        
            <table id="dataSources" class="table-no-bordered" data-toggle="table"
                data-striped="false" data-sort-name ="name">
    
                <thead>
                    <tr>
                        <th scope="col" data-sortable="true">#</th>
                        <th scope="col" data-sortable="true" data-field="name">Name</th>
                        <th scope="col" data-sortable="true" data-field="description">Description</th>
                        <th scope="col" data-sortable="true" data-field="connection_type">Connection Type</th>                       
                        <th scope="col" data-sortable="true" data-field="connection">Connection</th>
                        <th scope="col" data-sortable="true" data-field="user">User</th>
                        <th scope="col" data-sortable="false"></th>
                    </tr>
                </thead>
                <tbody id="dataSourceTable">
                    <tr th:each="dataSource : ${dataSources}">
                        <td th:text="${dataSource.gdiOid}"></td>
                        <td><a th:href="@{/dataSource/edit/{id}(id=${dataSource.gdiOid})}" th:text="${dataSource.name}"></a></td>
                        <td th:text="${dataSource.description}"></td>
                        <td th:text="${dataSource.connectionType}"></td>
                        <td th:text="${dataSource.connection}"></td>
                        <td th:text="${dataSource.user}"></td>
                        <td>
                            <!--<a class="btn btn-outline-danger btn-sm" role="button" th:href="@{/dataSource/delete/{id}(id=${dataSource.gdiOid})}">Delete</a>  --> 
                            <form action="#" th:action="@{/dataSource/delete/{id}(id=${dataSource.gdiOid})}" th:method="delete" >
                                <input type="hidden" name="_method" value="delete" />
                                <button type="submit" class="btn btn-outline-danger btn-sm" id="deleteSubmitButtion" th:text="Delete"></button>
                            </form>  
                        </td>
                    </tr>
                </tbody>
            </table>
    </div>
    


    <div class="container mb-4">
    </div>
    <footer th:replace="fragments/general.html :: footer"></footer>
    <script>
    $(document).ready(function(){
      $("#dataSourceFilterInput").on("keyup", function() {
        var value = $(this).val().toLowerCase();
        $("#dataSourceTable tr").filter(function() {
          $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
        });
      });
    });
    </script>    
</body>
