<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
	<meta charset="UTF-8" />
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="viewport" content="width=device-width" />
	<title>AGDI</title>
	<link rel="stylesheet" th:href="@{/webjars/bootstrap/4.1.0/css/bootstrap.min.css}" />
    <link rel="stylesheet" th:href="@{/css/bootstrap-table.min.css}"></link>
    <link rel="stylesheet" th:href="@{/css/custom.css}"></link>
	<script th:src="@{/webjars/jquery/3.3.1-1/jquery.min.js}"></script>
	<script th:src="@{/webjars/bootstrap/4.1.0/js/bootstrap.min.js}"></script>
	<script th:src="@{/js/bootstrap-table.min.js}"></script>
</head>
<body>
    <div th:fragment="header">	        
        <h1>Thymeleaf Fragments sample</h1>
    </div>
        <form th:fragment="datasource-form (controller_action, submit_button_text)" th:action="@{'/dataSource/'} + ${controller_action}" th:object="${dataSource}" method="POST">
            <div class="form-group row col-10 mx-auto">
                <label for="inputId" class="col-sm-3 col-form-label">Id</label>
                <div class="col-sm-7"> 
                    <input type="number" class="form-control" id="inputId" th:field="*{gdiOid}" readonly="readonly"/>
                </div>
            </div>
            
            <div class="form-group row col-10 mx-auto">
                <label for="inputName" class="col-sm-3 col-form-label">Name</label>
                <div class="col-sm-7"> 
                    <input type="text" class="form-control" id="inputName" th:field="*{name}" th:classappend="${#fields.hasErrors('name')} ? 'help-block' : ''">
                    <div th:if="${#fields.hasErrors('name')}" class="help-block" th:errors="*{name}"></div>
                </div>
            </div>
            
            <div class="form-group row col-10 mx-auto">
                <label for="inputBeschreibung" class="col-sm-3 col-form-label">Description</label>
                <div class="col-sm-7">
                    <textarea class="form-control" rows="4" id="inputBeschreibung" th:field="*{description}"></textarea>
                </div>
            </div>  
            
            <div class="form-group row col-10 mx-auto">
                <label for="dataConnectionType" class="col-sm-3 col-form-label">Type</label>
                <div class="col-sm-7">
                    <select id="selectConnectionType" class="custom-select" th:field="*{connectionType}">
                        <option selected value="DATABASE">DATABASE</option>
                        <option value="DIRECTORY">DIRECTORY</option>
                        <option value="WMS">WMS</option>
                    </select>
                    <div th:if="${#fields.hasErrors('connectionType')}" class="help-block" th:errors="*{connectionType}"></div>
                </div>
            </div>

            <div class="form-group row col-10 mx-auto">
                <label for="inputConnection" class="col-sm-3 col-form-label">Connection</label>
                <div class="col-sm-7">
                    <input type="text" class="form-control" id="inputConnection" th:field="*{connection}" th:classappend="${#fields.hasErrors('connection')} ? 'help-block' : ''">
                    <div th:if="${#fields.hasErrors('connection')}" class="help-block" th:errors="*{connection}"></div>
                </div>
            </div>  
            
            <div class="form-group row col-10 mx-auto">
                <label for="inputUser" class="col-sm-3 col-form-label">User</label>
                <div class="col-sm-7">
                    <input type="text" class="form-control" id="inputUser" th:field="*{user}">
                </div>
            </div>    
          
            <div class="form-group row col-10 mx-auto">
                <label for="inputPassword" class="col-sm-3 col-form-label">Password</label>
                <div class="col-sm-7">
                    <input type="text" class="form-control" id="inputPassword" th:field="*{password}">
                </div>
            </div>   
            
            <div class="form-group row">
                <div class="col-sm-10">
                    <button type="submit" class="btn btn-outline-primary" th:text="${submit_button_text}"></button>
                </div>
            </div>
        </form>

	
    <p>Go to the next page to see fragments in action</p>
	    
    <aside>
		<div>This is a sidebar</div> 
	</aside>
	    
	<div class="another">This is another sidebar</div>
	    
	<footer th:fragment="footer" class="footer">
        <div class="container">
            <span class="text-muted">Amt für Geoinformation Kanton Solothurn</span>
	   </div>
	</footer>
</body>
</html>