<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width" />
<title>DataSets</title>
<link rel="stylesheet"
	th:href="@{/webjars/bootstrap/4.1.0/css/bootstrap.min.css}" />
<script th:src="@{/webjars/jquery/3.3.1-1/jquery.min.js}"></script>
<script th:src="@{/webjars/bootstrap/4.1.0/js/bootstrap.min.js}"></script>

<link rel="stylesheet"
	href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.12.1/bootstrap-table.min.css">
<script
	src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.12.1/bootstrap-table.min.js"></script>
<style>
a.sortable {
	text-decoration: none;
	color: inherit;
}
</style>

</head>
<body>
	<div class="container">
		  <h1 class="mb-4">DataSets</h1>
            <a class="mb-4 btn btn-outline-success" role="button" th:href="@{/data_sets/edit/{id}(id=)}">+ Neues Dataset</a>			
			<input class="mb-2 form-control" id="dataSetFilterInput" type="text"
				placeholder="Filter..."> <br>
        
			<table id="dataSets" class="table-no-bordered" data-toggle="table"
				data-striped="true" data-sort-name ="name">
	
				<thead>
					<tr>
						<th scope="col" data-sortable="true">#</th>
						<th scope="col" data-sortable="true" data-field="name">Name</th>
						<th scope="col">Bearbeiten</th>
						<th scope="col">Löschen</th>
					</tr>
				</thead>
				<tbody id="dataSetTable">
					<tr th:each="dataSet : ${dataSets}">
						<td th:text="${dataSet.gdiOid}"></td>
						<td th:text="${dataSet.name}"></td>
						<td><a class="btn btn-outline-primary btn-sm" role="button"
							th:href="@{/data_sets/edit/{id}(id=${dataSet.gdiOid})}">Bearbeiten</a>
						</td>
						<td><a class="btn btn-outline-danger btn-sm" role="button"
							th:href="@{/data_sets/delete/{id}(id=${dataSet.gdiOid})}">Löschen</a>
						</td>
					</tr>
				</tbody>
			</table>
	</div>

	<script>
$(document).ready(function(){
	  $("#dataSetFilterInput").on("keyup", function() {
	    var value = $(this).val().toLowerCase();
	    $("#dataSetTable tr").filter(function() {
	      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
	    });
	  });
	});
</script>

</body>
</html>